$font-size-default: 16px;

$company-name-color: #FFFCF9;

$body-header-color: darken(#FF7100, 7%);

$breakpoint-280: 280px;
$breakpoint-320: 320px;
$breakpoint-360: 360px;
$breakpoint-375: 375px;
$breakpoint-411: 411px;
$breakpoint-414: 414px;
$breakpoint-540: 540px;
$breakpoint-768: 768px;
$breakpoint-1024: 1024px;
$breakpoint-1200: 1200px;